<h1>Books#new</h1>
<p>Find me in app/views/books/new.html.erb</p>

<%= link_to "Back to Books' List", books_path %>

<%= form_with url: books_path do |form| %>
  <%= form.label :title, "Title:" %>
  <%= form.text_field :title %>
  <%= form.label :author, "Author:" %>
  <%= form.text_field :author %>
  <%= form.label :description, "Description:" %>
  <%= form.text_field :description %>
  <%= form.submit %>
<% end %>
